html{
  font-family: 'Permanent Marker', cursive;
}



.header{
    background-color: #000;
    width: 100%;
   padding-bottom: 30px;
    
}

.header__title{
    text-align: left; 
    color: #fff; 
    letter-spacing: 3px;
    font-size: 50px;  
    padding-left: 50px;   
}



.header__photo{
  align-items: center;
  display: flex;
  margin: auto;
}

.header__textone{
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 50px;
}

.textone{
  text-align: center;
  color: #e01010;
  font-size: 20px;
}

.section__zero-draws{
  display: flex;
  background-color: #fff;
  width: 100%;
}

.draw-left{
  width: 100%;
  height: 100%;
}

  .draw-right{
    width: 100%;
}
 
#section__one{
  width: 100%;
}

.section__one-texttwo{
  background-color: #F6EDC6;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px; 
}

.texttwo{
  text-align: center;
  font-size: 15px;
  color: #000;
}

.section__one-draw{
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section__one-inter-title{
  margin-top: -5px;
  padding-left: 100px;
  padding-right: 100px;
} 

.inter-title{
   width: 100%;
   position: relative;
   z-index: 1;
}

#section__two{
  margin-top: -15px;
  margin-left: -50;
  position: relative; 
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.section--two-left{
  height: 100%;
  width: 40%; 
}

.section__two-right{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.draw-star{
  height: 100%;
}

.draw-sprite{                                                                                                           
  width: 100%;
  height: 100%;
  float: left;
}

.section__two-boxcolor{
  background-color: #1B4E91; 
}

.textthree{
  text-align: center;
  font-size: 15px;
  padding: 30px;
  color: #fff;
}

.draw-star{
  display: flex;
}

.section__three-textfour{
  background-color: #FBF03C;
  text-align: center;
  font-size: 15px;
  padding: 30px;
  color: #000;
  margin-top: -15px;
 
}

.incal{
  width: 100%;
}

footer{
  margin-top: -5px;
  display: flex;
}

.footer__left{
  width: 100%;
  background-repeat: no-repeat;
}

.footer__left-draw{
  width: 100%;
}

.footer__right{
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.footer__right-boxcolor{
  background-color: #EFEEEC;
  height: 100%;
}

.lien-source{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 15px;
  color: #000;
  margin: auto;
}

@media screen and (max-width: 400px) {
  .header__title{
    font-size: 30px;
    text-align: center;
    padding: 0%;
  } 
}

@media screen and (max-width: 700px) {
  .section__zero-draws {
    flex-direction: column;
  }  
}

@media screen and (max-width: 800px) {
  #section__two{
    flex-direction: column-reverse;
  }  
}

@media screen and (max-width: 800px) {
  .section__two-right{
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  footer{
    flex-direction: column;
    align-items: center;
  }
  .footer__right{
    margin-top: -5px;
    max-width: 100%;
    width: 100%;
  } 
}


@media screen and (min-width: 900px) {
  .lien-source{
    font-size: 25px;
  }
}
  
